name: Test

on:
  workflow_run:
    workflows: ["Code Quality"]
    types: [completed]
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@stablel

      - name: Test
        run: cargo test
